In [ ]:
import pandas as pd
pd.__version__

'1.1.5'

In [ ]:
dict_data = {'CO':300, 'MX':400, 'CH':200}  # diccionario 
dict_data

{'CH': 200, 'CO': 300, 'MX': 400}

In [ ]:
pd.Series(dict_data)

CO    300
MX    400
CH    200
dtype: int64

In [ ]:
dict_data={'CH':[100,800,200],'CO':[100,200,300],'MX':[300,500,400]}
dict_data

{'CH': [100, 800, 200], 'CO': [100, 200, 300], 'MX': [300, 500, 400]}

Convertimos el diccionario a un data frame(marco de datos) de la siguiente manera:

In [ ]:
df = pd.DataFrame(dict_data)  
df

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [ ]:
import numpy as np

In [ ]:
dict_data = {
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9.0],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

In [ ]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [ ]:
df = pd.DataFrame(dict_data, index= ['ana','benito','camilo','daniel','erika','fabian','gabriela'])
df

          edad   cm pais genero    Q1   Q2
ana         10  115   co      M   5.0  7.0
benito       9  110   mx      F  10.0  9.0
camilo      13  130   co      F   8.0  9.0
daniel      14  155   mx      M   NaN  8.0
erika       12  125   mx      M   7.0  8.0
fabian      11  120   ch      M   8.0  8.0
gabriela    12  125   ch      F   3.0  9.0

In [ ]:
df.index

Index(['ana', 'benito', 'camilo', 'daniel', 'erika', 'fabian', 'gabriela'], dtype='object')

In [ ]:
df.columns

Index(['edad', 'cm', 'pais', 'genero', 'Q1', 'Q2'], dtype='object')

In [ ]:
df.values

array([[10, 115, 'co', 'M', 5.0, 7.0],
       [9, 110, 'mx', 'F', 10.0, 9.0],
       [13, 130, 'co', 'F', 8.0, 9.0],
       [14, 155, 'mx', 'M', nan, 8.0],
       [12, 125, 'mx', 'M', 7.0, 8.0],
       [11, 120, 'ch', 'M', 8.0, 8.0],
       [12, 125, 'ch', 'F', 3.0, 9.0]], dtype=object)

Para obtener datos de una sola columna:

In [ ]:
df['edad']

ana         10
benito       9
camilo      13
daniel      14
erika       12
fabian      11
gabriela    12
Name: edad, dtype: int64

Para obtener datos de mas de una columna hago una lista dentro del diccionario [[]]:

In [ ]:
df[['edad', 'cm', 'Q1']]

          edad   cm    Q1
ana         10  115   5.0
benito       9  110  10.0
camilo      13  130   8.0
daniel      14  155   NaN
erika       12  125   7.0
fabian      11  120   8.0
gabriela    12  125   3.0

Para hacer enfasis en solo algunos estudiantes, uso la funcion loc(de localizar):

In [ ]:
df.loc['ana',['edad', 'cm','Q1']]

edad     10
cm      115
Q1        5
Name: ana, dtype: object

In [ ]:
df.loc[['ana','erika'],['edad', 'cm','Q1']]

       edad   cm   Q1
ana      10  115  5.0
erika    12  125  7.0

Para localizar a daniel y su primer nota q1 ['indice', 'columna']:

In [ ]:
df.loc['daniel','Q1']

nan

In [ ]:
df

          edad   cm pais genero    Q1   Q2
ana         10  115   co      M   5.0  7.0
benito       9  110   mx      F  10.0  9.0
camilo      13  130   co      F   8.0  9.0
daniel      14  155   mx      M   NaN  8.0
erika       12  125   mx      M   7.0  8.0
fabian      11  120   ch      M   8.0  8.0
gabriela    12  125   ch      F   3.0  9.0

loc me permite seleccionar datos a travez de sus indices y columnas [indice/s, columna/s].

iloc me lo permite a travez de sus posicion dentro del dataframe empenzando de cero, [indice 0 1 2 3 etc(filas), columna 0 1 2 3 etc].

In [ ]:
df.iloc[2,1]

130

Con iloc tambien se puede seleccionar varios conjuntos de elementos, ejemplo me traigo dos columnas:

In [ ]:
df.iloc[2,[1,3]]

cm        130
genero      F
Name: camilo, dtype: object

In [ ]:
df.iloc[[2,4,5],[1,3]] # [indices, columnas]

         cm genero
camilo  130      F
erika   125      M
fabian  120      M

In [ ]:
df.iloc[:,[1,3]] # : (2 puntos) significa que me devuelva todo el indice completo o sea, toda la fila

           cm genero
ana       115      M
benito    110      F
camilo    130      F
daniel    155      M
erika     125      M
fabian    120      M
gabriela  125      F

Evaluo a las personas mayores o iguales a 12 anios, las filtro:

In [ ]:
df['edad']>=12

ana         False
benito      False
camilo       True
daniel       True
erika        True
fabian      False
gabriela     True
Name: edad, dtype: bool

Traigo subconjuntos de datos filtrados por la edad en donde las personas son mayores o iguales a 12 anios:

In [ ]:
df[df['edad']>=12]

          edad   cm pais genero   Q1   Q2
camilo      13  130   co      F  8.0  9.0
daniel      14  155   mx      M  NaN  8.0
erika       12  125   mx      M  7.0  8.0
gabriela    12  125   ch      F  3.0  9.0

Combino varias condiciones separadas por parentesis y &, que sean mayores o iguales a 12 y que sean del pais mexico:

In [ ]:
df[(df['edad'] >= 12) & (df['pais'] == 'mx')]

        edad   cm pais genero   Q1   Q2
daniel    14  155   mx      M  NaN  8.0
erika     12  125   mx      M  7.0  8.0

In [ ]:
df.query('edad>=12') # obtengo el mismo resultado que en la linea 39

          edad   cm pais genero   Q1   Q2
camilo      13  130   co      F  8.0  9.0
daniel      14  155   mx      M  NaN  8.0
erika       12  125   mx      M  7.0  8.0
gabriela    12  125   ch      F  3.0  9.0

In [ ]:
df['Q2'] >= df['Q1'] # obtengo valores booleanos

ana          True
benito      False
camilo       True
daniel      False
erika        True
fabian       True
gabriela     True
dtype: bool

Obtengo a los estudiantes que mejoraron sus calificaciones o se mantuvieron.

Se puede ver que la fila de daniel no es comparada por no tener la primer nota(NaN).

In [ ]:
df[df['Q2'] >= df['Q1']]

          edad   cm pais genero   Q1   Q2
ana         10  115   co      M  5.0  7.0
camilo      13  130   co      F  8.0  9.0
erika       12  125   mx      M  7.0  8.0
fabian      11  120   ch      M  8.0  8.0
gabriela    12  125   ch      F  3.0  9.0